- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title find-a-job-02

		include ./partials/head.jade

	body
		include ./partials/preloader.jade

		section.top-line.job
			.animate-bg
				.image-holder
					img(src="img/images/top-line-bg-3.jpg", alt="")
			include ./partials/top-nav.jade
			.table-holder
				.vert-el
					.description-in-top
						h1 Ask us about our retention rate! 
						img.waves(src="img/icons/waves-icon.svg", alt="")
						h2 The number will tell the story best!
			include ./partials/down-btn.jade
		
		
		section.whyalfanav.wow.fadeInUp
			.gray-strip.inline-holder
				.main-container.clearfix
					.t-title-holder.clearfix
						.hotvac.inline-el
							span Hot vacances
						.allurl.inline-el
							a(href="#")
								span Show all vacancies
			.main-container
				.inline-holder
					.description-part.inline-el
						h3 Why    
							span.green     AlphaNavigation?
						p 
							|Aligning the best people with appropriate positions we put our seafarers fulfillment within the entire contract duration as our top priority goal.
						ul
							li Free of charge employment services
							li Stable job for reputable employers
							li Time efficient application process
							li 24/7 support for you and your family
					.gray-strip.mobile.inline-holder
						.clearfix
							.t-title-holder.clearfix
								.hotvac.inline-el
									span Hot vacances
								.allurl.inline-el
									a(href="#")
										span Show all vacancies
					.slider-holder.inline-el
						ul.vacitemslider
							li
								ul
									mixin newvac()
										li.vacitem
											a.fill-form(href="#")
												table
													tbody
														tr
															td Vessel Type: 
															td.v-type Dry Cargo Vessels
														tr
															td DWT 
															td 100,000
														tr
															td Salary Level: 
															td $50 000
														tr
															td Contract Duration:
															td 5 Months contract

												span.button
													.t-holder
														span Apply
									+newvac
									+newvac
									+newvac
									+newvac
									+newvac
							li
								ul
									mixin newvac()
										li.vacitem
											a.fill-form(href="#")
												table
													tbody
														tr
															td Vssel Type: 
															td.v-type BULK
														tr
															td DWT 
															td 10,00
														tr
															td Salary Level: 
															td $60 000
														tr
															td Contract Duration:
															td 6 yers contract

												span.button
													.t-holder
														span Apply
									+newvac
									+newvac
									+newvac
									+newvac
									+newvac
							li
								ul
									mixin newvac()
										li.vacitem
											a.fill-form(href="#")
												table
													tbody
														tr
															td Vessel Type: 
															td.v-type LPG
														tr
															td DWT 
															td 100,000
														tr
															td Salary Level: 
															td $50 000
														tr
															td Contract Duration:
															td 5 Months contract

												span.button
													.t-holder
														span Apply
									+newvac
									+newvac
									+newvac
									+newvac
									+newvac
							li
								ul
									mixin newvac()
										li.vacitem
											a.fill-form(href="#")
												table
													tbody
														tr
															td Vssel Type: 
															td.v-type CHEMICAL OIL PRODUCTS
														tr
															td DWT 
															td 10,00
														tr
															td Salary Level: 
															td $60 000
														tr
															td Contract Duration:
															td 6 yers contract

												span.button
													.t-holder
														span Apply
									+newvac
									+newvac
									+newvac
									+newvac
									+newvac


		section#shipowners1.shipowners
			.gray-bg.border-bt
				.main-container
					h4 Our Principals 
							span.green & Shipowners
					.table-holder
						table.hr
							mixin newtr(compan, countr, contacts)
								tr
									td= compan
									td= countr
									td= contacts

							+newtr('Company', 'Country', 'Contract Start Date')
			.main-container
				.table-holder.gradient
					table
						+newtr('Company', 'Country', 'Contract Start Date')
						+newtr('ABC MARITIME AG', 'Copenhagen, Denmark', 'June 12, 2006')
						+newtr('ACHEON AKTI NAVIGATION CO. LTD', 'Nyon, Switzerland', 'January 1, 1998')
						+newtr('AFLOAT LEASING LTD', 'Limassol, Cyprus', 'November 27, 2007')
						+newtr('BERNHARD CRAMER', 'Swatar, Malta', 'August 30, 2010')
						+newtr('BERNUTH LINES USA', 'Haren/Ems, Germany', 'November 18, 2007')
						+newtr('CENTURIAN MARITIME CO LTD', 'Miami, USA', 'October 15, 2010')
						+newtr('CHINA NAVIGATION CO LTD.', 'Kifisia, Greece', 'January 31, 2004')
						+newtr('CHIOS MARITIME', 'Hong Kong', 'August 21, 2003')
						+newtr('Company', 'Country', 'Contract Start Date')
						+newtr('ABC MARITIME AG', 'Copenhagen, Denmark', 'June 12, 2006')
						+newtr('ACHEON AKTI NAVIGATION CO. LTD', 'Nyon, Switzerland', 'January 1, 1998')
						+newtr('AFLOAT LEASING LTD', 'Limassol, Cyprus', 'November 27, 2007')
						+newtr('BERNHARD CRAMER', 'Swatar, Malta', 'August 30, 2010')
						+newtr('BERNUTH LINES USA', 'Haren/Ems, Germany', 'November 18, 2007')
						+newtr('CENTURIAN MARITIME CO LTD', 'Miami, USA', 'October 15, 2010')
						+newtr('CHINA NAVIGATION CO LTD.', 'Kifisia, Greece', 'January 31, 2004')
						+newtr('CHIOS MARITIME', 'Hong Kong', 'August 21, 2003')
						+newtr('Company', 'Country', 'Contract Start Date')
						+newtr('ABC MARITIME AG', 'Copenhagen, Denmark', 'June 12, 2006')
						+newtr('ACHEON AKTI NAVIGATION CO. LTD', 'Nyon, Switzerland', 'January 1, 1998')
						+newtr('AFLOAT LEASING LTD', 'Limassol, Cyprus', 'November 27, 2007')
						+newtr('BERNHARD CRAMER', 'Swatar, Malta', 'August 30, 2010')
						+newtr('BERNUTH LINES USA', 'Haren/Ems, Germany', 'November 18, 2007')
						+newtr('CENTURIAN MARITIME CO LTD', 'Miami, USA', 'October 15, 2010')
						+newtr('CHINA NAVIGATION CO LTD.', 'Kifisia, Greece', 'January 31, 2004')
						+newtr('CHIOS MARITIME', 'Hong Kong', 'August 21, 2003')
						+newtr('Company', 'Country', 'Contract Start Date')
						+newtr('ABC MARITIME AG', 'Copenhagen, Denmark', 'June 12, 2006')
						+newtr('ACHEON AKTI NAVIGATION CO. LTD', 'Nyon, Switzerland', 'January 1, 1998')
						+newtr('AFLOAT LEASING LTD', 'Limassol, Cyprus', 'November 27, 2007')
						+newtr('BERNHARD CRAMER', 'Swatar, Malta', 'August 30, 2010')
						+newtr('BERNUTH LINES USA', 'Haren/Ems, Germany', 'November 18, 2007')
						+newtr('CENTURIAN MARITIME CO LTD', 'Miami, USA', 'October 15, 2010')
						+newtr('CHINA NAVIGATION CO LTD.', 'Kifisia, Greece', 'January 31, 2004')
						+newtr('CHIOS MARITIME', 'Hong Kong', 'August 21, 2003')
						+newtr('Company', 'Country', 'Contract Start Date')
						+newtr('ABC MARITIME AG', 'Copenhagen, Denmark', 'June 12, 2006')
						+newtr('ACHEON AKTI NAVIGATION CO. LTD', 'Nyon, Switzerland', 'January 1, 1998')
						+newtr('AFLOAT LEASING LTD', 'Limassol, Cyprus', 'November 27, 2007')
						+newtr('BERNHARD CRAMER', 'Swatar, Malta', 'August 30, 2010')
						+newtr('BERNUTH LINES USA', 'Haren/Ems, Germany', 'November 18, 2007')
						+newtr('CENTURIAN MARITIME CO LTD', 'Miami, USA', 'October 15, 2010')
						+newtr('CHINA NAVIGATION CO LTD.', 'Kifisia, Greece', 'January 31, 2004')
						+newtr('CHIOS MARITIME', 'Hong Kong', 'August 21, 2003')
				.btn-holder
					a(href="#").button
						.t-holder
							span Show all


		
		section.ourbusiness.wow.fadeInUp
			.main-container
				h3 Personalities are the cornerstone of our maritime business and 
					span.green we appreciate them at most.
				.counters.inline-holder
					.counter-holder.inline-el
						.counter.inline-holder
							.number.inline-el
								span#animateNumber3 0
								p Years of experience
							.description.inline-el
								| We have almost 20 years of experience in placing seafarers in contracts with the top tier employers from the longest ship owners list.
					.counter-holder.inline-el
						.counter.inline-holder
							.number.inline-el
								span#animateNumber4 0
								span K
								p Seafarers
							.description.inline-el
								| A special point of proud for us is the AlphaNavigation database of contracts signed since 1997, that reaches the number of 17 000. 
				//- .btn-holder
				//- 	a#readTestimonials1.button(href="#shipowners1")
				//- 		.t-holder
				//- 			span Read our testimonials
				//- 	a.button(href="#")
				//- 		.t-holder
				//- 			span Our Principals List
				.text-holder
					p 
						|Our work is geared to providing our clients with professional services of the highest quality. To ensure we achieve our objectives successfully we have masterminded a one of a kind process of maritime employment.
					p
						|After successfully getting on board with us you obtain a personal attorney represented by AlphaNavigation on top of the best maritime job opportunities.
					b
						|To get a job at sea, please complete our application form:

				.btn-holder
					a#find-job-form.button(href="#")
						.t-holder
							span Fill out the form



											
											
											












						



		include ./partials/footer.jade

		include ./partials/call-back-modal.jade
		include ./partials/online-form-02.jade





		include ./partials/scripts.jade
