- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title Index

		include ./partials/head.jade

	body

		section.top-line.index(style='background-image: url("img/images/main-bg-2.jpg")')
			include ./partials/top-nav.jade
	

			.description-in-top
				h1.index.wow.fadeInUp HUMAN FACTOR. REDEFINED.
				.rope-icons.wow.fadeInUp
					div
						img(src="img/icons/scewText1.png", alt="")
					div
						img(src="img/icons/rope-icon.png", alt="")
					div
						img(src="img/icons/scewText2.png", alt="")
			.btn-holder.wow.fadeInUp
				a(href="#").button For Job seekers
				a(href="#").button For crew seekers

		section.reviews(style='background-image: url(img/images/ship-away.jpg)')
			.main-container
				.section-icon
					img(src="img/icons/gray-rope-icon.png", alt="")
				h3.big.wow.fadeInUp WE  GET
					span.green   SEAFARERS
					|  TALKING
				
				.carousel.wow.fadeInUp
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 Slide four
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.
					.slide
						.slide-text
							h5 E OLEKSANDR / MAERSK ERIMO
							p
								| Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.

				.btn-holder
					a(href="#").button Show more comments

		section.info-block
			.bg-1-holder
				.bg-2-holder
					.bg-3-holder
						.bg-4-holder
							.main-container
								.content-holder
									.section-icon
										img(src="img/icons/gray-rope-icon2.png", alt="")
									h3.big.wow.fadeInUp WE LIVE AND BREATHE WHAT WE DO AND 
										span.green WE’RE PROUD OF our results

									.inline-holder
										.text-holder.wow.fadeInUp.inline-el
											p 
												|Crewing Company Alpha Navigation, created in 1997, has been supplying vessels with competent and professional crew consistently throughout the years. We recognize the importance of providing qualified personnel on both sides at sea and onshore. We accomplish this by personally screening each and every perspective applicant through rigorous competence, fitness and English language comprehension tests to bring our clients the very best people. In accordance to the Shipowner’s demands, the designated Crew Superintendent selects and employs the command and crew for the vessel. We make sure to comply with all internal Quality Standards, IMO, STCW, ISO requirements, and the vessel’s manning stipulations. We maintain our high standard of excellency through performance appraisals and continuous upgrade training for our crews; our clients’ satisfaction and success is of utmost importance to us.
											.btn-holder
												a(href="#").button Learn More
												a(href="#").button See Vacancies
										.counters-holder.wow.fadeInUp.inline-el
											.counter-item.inline-el
												#animateNumber1.counter 16648
												.count-desc Contracts Signed

											.counter-item.inline-el 
												#animateNumber2.counter 1243
												.count-desc Vessels Manned
																				
		section.crew
			.crew-bg
				.main-container
					.inline-holder
						.crew-title.inline-el
							h3.big.wow.fadeInUp The Crew that will navigate you to your 
								span.green success
							.btn-holder.wow.fadeInUp
								a(href="#").button MEET OUR TEAM
						.crew-description.wow.fadeInUp.inline-el
							h5 Bogdan Alec  Zelenski 
								span.light / Founder & President
							.soc-holder
								ul.inline-holder
									li.inline-el
										a(href="#")
											i.fa.fa-facebook
									li.inline-el
										a(href="#")
											i.fa.fa-envelope
							.text-holder
								p
									|Crewing Company Alpha Navigation, created in 1996, has been providing vessels with competent and professional Ukrainian crews consistently throughout the years. We recognize the importance of providing quality persons to organizations both at sea and onshore. We accomplish this by personally screening each and every perspective applicant through rigorous competence, fitness, and English language comprehension tests to bring our clients the very best people. In accordance to the Shipowner’s demands, the designated Crew Superintendent selects and employs the command and crew for the vessel. We make sure to comply with all internal Quality Standards, IMO, STCW, ISO requirements, and the vessel’s manning stipulations. We maintain our high standard of excellency through performance appraisals and continuous upgrade training for our crews; our clients’ satisfaction and success is of utmost importance to us. 
			.main-container
				ul.crewitemlist.wow.fadeInUp.inline-holder
					mixin newcrewitem(name, surname, src)
						li.crewitem.inline-el
							.image-holder
								img.fake-img(src= src, alt= src)
								.img(style='background-image: url( '+src+')')
								.social-plate
									ul.soc-holder.inline-holder
										li.inline-el
											a.socitem(href="#")
												i.fa.fa-facebook
										li.inline-el
											a.socitem(href="#")
												i.fa.fa-envelope
							a(href="#")
								.name-holder
									h6= name
									p= surname
					+newcrewitem('Julia Makarova', 'General Manager', 'img/images/crew-1.png')
					+newcrewitem('Ellen Makarova', 'Senior Operations Manager ', 'img/images/crew-2.png')
					+newcrewitem('Anna Mykhaylichenko', 'Financial Manager', 'img/images/crew-2.png')
					+newcrewitem('Victoria Chumachenko', 'Administrative Director', 'img/images/crew-3.png')
					+newcrewitem('Simon Varias', 'Manila Branch Director', 'img/images/crew-2.png')

		
		section.partners(style='background: url(img/images/serv-bg.svg) no-repeat 100% 130%')
			.main-container
				.section-icon
					img(src="img/images/rope-icon-35.png", alt="")
				h3.wow.fadeInUp FEEL THE POWER TO CHANGE YOUR DIRECTION IN BUSINESS TO 
					span.green BETTER WITH ALPHA NAVIGATION
				h4.wow.fadeInUp Our  Partners  About  Us

				ul.cards-holder.wow.fadeInUp.inline-holder
					mixin newpartner(name, manage, text1, src, src2, namecompany, company, text2 )
						li.card-item.inline-el
							.card-header.inline-holder
								.image-holder.inline-el
									img.fake-img(src= src, alt= src)
									.img(style='background-image: url( '+src+')')
								.name-holder.inline-el
									h6= name
									p= manage
							.text-holder
								p= text1
							.backplate
								.card-header.inline-holder
									.image-holder.inline-el
										img.fake-img(src= src2, alt= src2)
										.img(style='background-image: url( '+src2+')')
									.name-holder.inline-el
										h6= namecompany
										p= company
								.text-holder
									p= text2

					+newpartner(
						'E OLEKSANDR',
						'Manager',
						'I took part in a conference of 29.07.15 organized by Alfa Navigation and Enzian Shipmanagement. I hasten to note that in such an event took part for the first time in my life. In due time we were met by representatives of the Alpha Navigation company from whom we received all information on the forthcoming conference interesting us. During the day we also supported dense communication and discussed the questions interesting us. The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the ... conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.',
						'img/images/partner-img-1.png',
						'img/images/company-img-1.png',
						'Fleet Pro Ship',
						'Company',
						'The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
					)
					+newpartner(
						'E OLEKSANDR',
						'Manager',
						'I took part in a conference of 29.07.15 organized by Alfa Navigation and Enzian Shipmanagement. I hasten to note that in such an event took part for the first time in my life. In due time we were met by representatives of the Alpha Navigation company from whom we received all information on the forthcoming conference interesting us. During the day we also supported dense communication and discussed the questions interesting us. The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the ... conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.',
						'img/images/partner-img-1.png',
						'img/images/company-img-1.png',
						'Fleet Pro Ship',
						'Company',
						'The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
					)
					+newpartner(
						'E OLEKSANDR',
						'Manager',
						'During the day we also supported dense communication and discussed the questions interesting us. The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such... conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.',
						'img/images/partner-img-2.png',
						'img/images/company-img-1.png',
						'Fleet Pro Ship',
						'Company',
						'The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
					)
					+newpartner(
						'E OLEKSANDR',
						'Manager',
						'I hasten to note that in such an event took part for the first time in my life. In due time we were met by representatives of the Alpha Navigation company from whom we received all information on the forthcoming conference interesting us. During the day we also supported dense communication and discussed the questions interesting us. The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.',
						'img/images/partner-img-3.png',
						'img/images/company-img-1.png',
						'Fleet Pro Ship',
						'Company',
						'The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry. The companys staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
					)
				.btn-holder.wow.fadeInUp
					a.button(href="#") Show more

		section.followus
			.main-container
				h3.wow.fadeInUp Follow US
				.inline-holder
					.facebook-holder.wow.fadeInUp.inline-el
						.inline-holder
							.column.inline-el
								.post-item
									.image-holder
										img.fake-img(src="img/images/f-post-1.jpg", alt="")
										.img(style='background-image: url(img/images/f-post-1.jpg)')
									.f-massage
										.icon-holder
											img(src="img/icons/f-icon.png", alt="")
										.title
											h6 22 ferbuary 2016
											p 
												| The company's staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.
										ul.nav-panel.inline-holder
											li.inline-el
												a.like(href="#") Like
													img(src="img/icons/f-like.png", alt="f-icon.png")
											li.inline-el
												a.comment(href="#") Comment
													img(src="img/icons/f-comment.png", alt="f-comment")
											li.inline-el
												a.forward(href="#") Forward
													img(src="img/icons/f-forward.png", alt="f-comment")
								.post-item
									.f-massage
										.icon-holder
											img(src="img/icons/f-icon.png", alt="")
										.title
											h6 22 ferbuary 2016
											p 
												| The company's staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We 
										ul.nav-panel.inline-holder
											li.inline-el
												a.like(href="#") Like
													img(src="img/icons/f-like.png", alt="f-icon.png")
											li.inline-el
												a.like(href="#") Comment
													img(src="img/icons/f-comment.png", alt="f-comment")
											li.inline-el
												a.like(href="#") Forward
													img(src="img/icons/f-forward.png", alt="f-comment")
							.column.inline-el
								.post-item
									.f-massage
										.icon-holder
											img(src="img/icons/f-icon.png", alt="")
										.title
											h6 22 ferbuary 2016
											p 
												| The company's staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.
										ul.nav-panel.inline-holder
											li.inline-el
												a.like(href="#") Like
													img(src="img/icons/f-like.png", alt="f-icon.png")
											li.inline-el
												a.like(href="#") Comment
													img(src="img/icons/f-comment.png", alt="f-comment")
											li.inline-el
												a.like(href="#") Forward
													img(src="img/icons/f-forward.png", alt="f-comment")
								.post-item
									.image-holder
										img.fake-img(src="img/images/f-post-2.jpg", alt="")
										.img(style='background-image: url(img/images/f-post-2.jpg)')
									.f-massage
										.icon-holder
											img(src="img/icons/f-icon.png", alt="")
										.title
											h6 22 ferbuary 2016
											p 
												| The company's staff is very friendly and helpful, always pays a sufficient amount of time and attention. Despite the fact that the conference had been scheduled throughout the day, time passed pretty quickly. We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.
										ul.nav-panel.inline-holder
											li.inline-el
												a.like(href="#") Like
													img(src="img/icons/f-like.png", alt="f-icon.png")
											li.inline-el
												a.like(href="#") Comment
													img(src="img/icons/f-comment.png", alt="f-comment")
											li.inline-el
												a.like(href="#") Forward
													img(src="img/icons/f-forward.png", alt="f-comment")
			
					.twitt-holder.wow.fadeInUp.inline-el
						ul
							mixin newtwittitem(post, text)
								li.twittitem
									h6= post
									p= text
									.icon-holder
										img(src="img/icons/twitt-icon.png", alt="")
									.nav-panel
										ul.inline-holder
											li.inline-el
												a.forward(href="#")
													img(src="img/icons/t-for.png", alt="")
												a.refresh(href="#")
													img(src="img/icons/t-ref.png", alt="")
												a.like(href="#")
													img(src="img/icons/t-like.png", alt="")
							+newtwittitem(
							'22 ferbuary 2016',
							'We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
							)
							+newtwittitem(
							'22 ferbuary 2016',
							'We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
							)
							+newtwittitem(
							'22 ferbuary 2016',
							'We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
							)
							+newtwittitem(
							'22 ferbuary 2016',
							'We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
							)
							+newtwittitem(
							'22 ferbuary 2016',
							'We considered a variety of issues, from the first minutes passed sided conversation between conference participants. Representatives of the companies in an accessible form and with beautiful presentations on the screen wide open topics relating to security, prevention of marine pollution, proper organization of work on board, and actively responded to questions asked by seafarers. I think such conferences are useful for both Employers and seafarers. They allow to prevent errors and improve the quality of work and service in the marine industry.'
							)

					.clearfix
						.facebook-holder.float-el
							.btn-holder
								a.button(href="#") Show more on facebook
						.twitt-holder.float-el
							.btn-holder
								a.button(href="#") Show more on twitter



														
														













		include ./partials/footer.jade
		include ./partials/add-rev.jade
		include ./partials/call-back-modal.jade
		include ./partials/news-text-02.jade
		include ./partials/online-form-02.jade
		include ./partials/personal-info.jade







		include ./partials/scripts.jade

