- var mainpage = true

//- //mixins//
mixin aboutitem(header, text)
	.inline-el
		h3.ellipsis-text= header
		p!= text

doctype html
html(lang='en')
	head
		title seafarers-testimonials-01

		include ./partials/head.jade

	body
		include ./partials/preloader.jade
		section.top-line.seafarers-section
			.animate-bg
				.image-holder
					img(src="img/images/sefarers.jpg", alt="")
			include ./partials/top-nav.jade
			.table-holder
				.vert-el
					.description-in-top
						h1  Seafarers Testimonials
						img(src="img/icons/waves-icon.png", alt="")
						.add-rev
							.btn-holder
								a#addrev.button(href="#")
									.t-holder
										span Add review
			include ./partials/down-btn.jade

		section.seafarers
			.main-container
				ul.comments-holder
					mixin newcomment(name, manage, text)
						li.wow.fadeInUp
							.title
								h5= name
								h6= manage
							p= text
					+newcomment(
						'Patti Clifford',
						'Chief Talent Officer, Havas Group',
						'Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.'
					)
					+newcomment(
						'Patti Clifford',
						'Chief Talent Officer, Havas Group',
						'Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное'
					)
					+newcomment(
						'Patti Clifford',
						'Chief Talent Officer, Havas Group',
						'Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. Мой сын работает, получил достойный опыт проходя практику на судах компании Alpha Navigation и получил работу, продвигается по карьерной лестнице без дополнительного стимулирования. Компания Alpha Navigation наработала доброе имя и широко известна среди моряков. На мой взгляд недостаточно рекламы судоходных компаний партнёром которых является "Alpha Navigation". Моряку ищущему работу необходимо знать о финансовом и фактическом состоянии и перспективах развития компании, вопросы снабжения и состояния судов.О возможности карьерного роста , стабильности и роста зарплаты а также необходимы четкие ясные и абсолютно прозрачные и регулярные комментарии в вопросах формирования и изменениях зарплаты до того как возникнут вопросы у самого моряка.'
					)
					+newcomment(
						'Patti Clifford',
						'Chief Talent Officer, Havas Group',
						'Работаю в компании с 2005 года,выбор был сделан на основе отзывов и предоставленной возможности, непосредственно собеседования с представителем судовладельца, что говорит о серьезных намерениях и открытой политике компании Alpha Navigation. Профессиональное управление создает взаимоуважительную и доверительную обстановку в офисе компании Alpha Navigation независимо от ранга и позиции. Известны люди которые выросли и те которые ушли и вернулись и продолжают работать что говорит о надежности и способностях обеспечить работой моряков даже в это турбулентное для мировой экономики время. Всегда рекомендую хорошим знакомым и друзьям. '
					)

				.btn-holder
					a(href="#").button
						.t-holder
							span Show more



		






		include ./partials/footer.jade
		include ./partials/call-back-modal.jade
		include ./partials/add-rev.jade





		include ./partials/scripts.jade
